
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.pyc
bin

# Mac file system
**/.DS_Store
 
# editor and IDE paraphernalia
.idea
.vscode
.project
*.swp
*.swo
*~

# Python dev
.mypy_cache
eggs/
.eggs/
*.egg-info/
./pytest_cache
.tox
build/
dist/

# Notebook Checkpoints
.ipynb_checkpoints

# Benchmarking and profiling
benchmarking/profiles/
*.prof

# Bundle folders
_bundle
