# Code generation
grpcio-tools==1.29.0
datamodel-code-generator==0.5.34

# Testing
pytest==5.4.3
pytest-asyncio==0.14.0
tox==3.18.0

# Benchmarking
numpy==1.18.5

# Linting and formatting
flake8==3.8.3
flake8-black==0.2.0
mypy==0.782
mypy-protobuf==1.23
black==19.10b0


