# Code generation
grpcio-tools==1.35.0
datamodel-code-generator==0.7.0

# Testing
pytest==6.2.0
pytest-asyncio==0.14.0
tox==3.21.0

# Linting and formatting
flake8==3.8.3
flake8-black==0.2.1
mypy==0.800
mypy-protobuf==2.4
black==20.8b1

# Pushing to PyPi
twine==3.3.0

# Fetch licenses
pip-licenses==3.3.0
