
/* Hide first elem of nav bar */
.md-tabs__list > li:first-child {
    display: none;
}

dt {
    display: table;
    margin: 6px 0;
    margin-top: 6px;
    font-size: 90%;
    line-height: normal;
    background: #e7f2fa;
    color: #2980B9;
    border-top: solid 3px #6ab0de;
    padding: 6px;
    position: relative;
}


