({{ name | replace('.', '-') }})=
# {{ objname }} module

*Qualified name:* `{{ fullname }}`

{{ objdoc | default('') | trim }}

{% if members %}
## Members
{% for item in members %}
* [{{ item.name }}](#{{ item.name | lower | replace('_','-') }})
{% endfor %}
{% endif %}
