name: Tests

on:
  push:
    branches:
      - master
      - release/*
  pull_request:
    branches: [master]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          make install-dev
      - name: Lint
        run: |
          make lint

  tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.8", "3.9", "3.10"]
        tox-environment:
          - mlserver
          - sklearn
          - xgboost
          - lightgbm
          - mlflow
          - huggingface
          - alibi-explain
          - alibi-detect
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup docker (missing on MacOS)
        if: runner.os == 'macos'
        run: |
          # From https://github.com/actions/runner-images/issues/17#issuecomment-1537238473
          # From https://github.com/abiosoft/colima/discussions/273#discussioncomment-4959736
          brew install docker docker-buildx
          mkdir -p $HOME/.docker/cli-plugins
          ln -sfn $(which docker-buildx) $HOME/.docker/cli-plugins/docker-buildx
          colima start --memory 4
          sudo ln -sf $HOME/.colima/default/docker.sock /var/run/docker.sock
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          auto-activate-base: false
      - name: Install dependencies
        run: |
          pip install -r requirements/dev.txt
      - name: Test
        run: |
          tox -e ${{ matrix.tox-environment }}

  all-runtimes:
    if: github.event_name == 'push'
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.8", "3.9", "3.10"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup docker (missing on MacOS)
        if: runner.os == 'macos'
        run: |
          # From https://github.com/actions/runner-images/issues/17#issuecomment-1537238473
          # From https://github.com/abiosoft/colima/discussions/273#discussioncomment-4959736
          brew install docker docker-buildx
          mkdir -p $HOME/.docker/cli-plugins
          ln -sfn $(which docker-buildx) $HOME/.docker/cli-plugins/docker-buildx
          colima start --memory 4
          sudo ln -sf $HOME/.colima/default/docker.sock /var/run/docker.sock
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          auto-activate-base: false
      - name: Install dependencies
        run: |
          pip install -r requirements/dev.txt
      - name: Test
        run: |
          tox -e all-runtimes
