name: MLServer Tests

on:
  push:
    branches:
      - master
      - release/*
  pull_request:
    branches: [master]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          make install-dev
      - name: Lint
        run: |
          make lint

  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
        tox-environment:
          - mlserver
          - sklearn
          - xgboost
          - lightgbm
          - mlflow
          - huggingface
          - alibi-explain
          - alibi-detect
          - all-runtimes
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install -r requirements/dev.txt
      - name: Test
        run: |
          tox -e ${{ matrix.tox-environment }}

  all-runtimes:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install -r requirements/dev.txt
      - name: Test
        run: |
          tox -e all-runtimes
